<app-ng-multiple-card>

  <app-ng-card-child>
    <h1>Step1</h1>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="Name">Full Name</label>
        <input type="text" class="form-control" placeholder="Enter Your name">
      </div>
      <div class="form-group">
        <label for="User_id">User Id</label>
        <input type="text" class="form-control" placeholder="Enter User id">
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <input type="text" class="form-control" placeholder="Enter Gender">
      </div>
    </form>
  </app-ng-card-child>


  <app-ng-card-child>
    <h1>Step2</h1>
    <app-ng-alerts [title]="title1" [text]="text1">
    </app-ng-alerts>
  </app-ng-card-child>


  <app-ng-card-child>
    <h1>Step3</h1>
    <app-ng-buttons [name1]="name1" [name2]="name2" [name3]="name3">
    </app-ng-buttons>
  </app-ng-card-child>

  <app-ng-card-child>
    <h1>Step4</h1>
    <app-ng-dropdown [title]="title2">
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a *ngFor="let data of action" class="dropdown-item" href="#">{{data.name}}</a>
      </div>
    </app-ng-dropdown>
  </app-ng-card-child>

</app-ng-multiple-card>