<div class="row">

  <div class="card col-sm-5" style="width: 20rem;">
    <img class="card-img-top" src="..." alt="Image on card here">
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>
      <p class="card-text">{{text}}</p>
      <a href="{{link}}" class="btn btn-primary">{{linkName}}</a>
    </div>
  </div>

  <div class="card col-sm-5 offset-md-1" style="width: 20rem;">
    <div class="card-body">
      <h4 class="card-title">{{title2}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{subtitle}}</h6>
      <p class="card-text">{{text2}}</p>
      <a href="{{link20}}" class="card-link">{{linkName20}}</a>
      <a href="{{link21}}" class="card-link">{{linkName21}}</a>
    </div>
  </div>

</div>