<nav class="navbar navbar-dark bg-primary" >
    <!-- Navbar content -->
    <a class="navbar-brand" href="/">Ng-Components</a>
</nav>

<div class="row" id="one">

  <div class="col-sm-3">
      <ul class="list-group">
          <li class="list-group-item"> <a href="/cards">Cards</a> </li>
          <li class="list-group-item"> <a href="/dropdowns">Dropdowns</a> </li>
          <li class="list-group-item"> <a href="/buttons">Buttons</a> </li>
          <li class="list-group-item"> <a href="/alerts">Alerts</a> </li>
      </ul>
  </div>

  <div class="col-sm-9" >
    <router-outlet></router-outlet>
  </div>

</div>

