<nav class="navbar navbar-dark bg-primary" >
    <!-- Navbar content -->
    <a class="navbar-brand" href="/">Ng-Components</a>
</nav>

<a class="btn btn-primary" data-toggle="collapse" href="#open" aria-expanded="true" aria-controls="open">
    open
</a>
<div class="row" id="one">

  <div class="col-sm-3 collapse" id="open" role="tabpanel" aria-labelledby="headingOne" data-parent="#one">
      <ul class="list-group">
          <li class="list-group-item"> <a href="/cards">Cards</a> </li>
          <li class="list-group-item"> <a href="/dropdowns">Dropdowns</a> </li>
          <li class="list-group-item"> <a href="/buttons">Buttons</a> </li>
          <li class="list-group-item"> <a href="/alerts">Alerts</a> </li>
          <li class="list-group-item"> <a href="/muCard">Multiple Cards</a> </li>
      </ul>
  </div>

  <div class="col-sm-9" >
    <router-outlet></router-outlet>
  </div>

</div>

